
.Toastify__toast--success {
    background-color:  rgb(250, 119, 31); 
    border-radius: 10px; 
  }
  
  
  .Toastify__toast-body button {
    background-color: rgb(244, 74, 74); 
    border: none;
    border-radius: 10px; 
    color: white; 
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  